@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Yatra+One&display=swap');

body{
  max-width: 400px;
  margin: 0 auto;
  background-color: #EFF2F2;
}
h1, h2{
  font-family: 'Yatra One', cursive;
  line-height: 1.2em;
}
h3, p, a{
  font-family: Lato, Helvetica, sans-serif;
}

header{
  background-color: #673BAA;
  color:#EFF2F2;
  text-align: center;
  padding: .5rem;
}

button{
  border: none;
  color: #EFF2F2;
  font-size: 1.5rem;
  font: 'Mooli';
  background-color: transparent;
}

header img {
  width: 40px;
  border-radius: 10%;
}

ul{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

li{
  padding: .5rem;
}

li:hover{
  text-decoration: underline;
  background-color: #088DC9;
}

.hide{
  display: none;
}

a{
  text-decoration: none;
  color:#EFF2F2;
}

/* SLIDESHOW CSS FROM W3SCHOOLS */

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    height: 300px;
  }

  .mySlides img{
    height: 250px;
  }
  
  
  
  /* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/* END SLIDESHOW */
main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.preators{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.reyna, .frank{
  width: 40%;
}

.chb img{
  width: 150px;
}

footer{
  background-color:#673BAA;
  color: #EFF2F2;
  text-align: center;
  padding: 1rem;
}
footer img{
  width: 40px;
  
}


@media screen and (min-width: 700px) {
  body{
    max-width:100%;
  }

  header img{
    width: 80px;
  }
  ul{
    flex-direction: row;
  }
  .hide {
    display: flex;
  }
}

@media screen and (min-width: 1000px) {
  body{
    max-width:100%;
  }

  header img{
    width: 80px;
  }
  ul{
    flex-direction: row;
    font-size: 25px;
  }
  .hide {
    display: flex;
  }
  
  p{
    width: 70%;
  }
  .disclaimer{
    text-align: center;
  }

  .preators{
    width:70%;
    justify-content: space-around
  }

  .reyna, .frank{
    width: 20%;
  }

  footer p{
    width: 100%;
  }
}