@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
body{
    font-family: 'Mooli', Arial, Helvetica, sans-serif;
    background-color: lightgray;
}
.viewer{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: grid;
    place-items: center;
}
.viewer button{
    grid-row: 1;
}
.viewer img{
    grid-row: 2;
    max-height: 700px;
}
header{
    background-color: #52489C;
    color:#fff;
    text-align: center;
    padding: .5rem;
}
button{
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    font: 'Mooli';
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}
.hide{
    display: none;
}
a{
    text-decoration: none;
    color:white;
}
.gallery{
    text-align: center;
}
h2{
    text-align: center;
}
.gallery img{
    max-width: 100%;
    object-fit: cover;
    height: 250px;
    width: 250px;
    border: solid 5px #fff;
    box-shadow: 5px 5px 10px #6f7364;
}
footer{
    background-color: #52489C;
    height: 50px;
}

@media screen and (min-width: 700px) {
    .gallery {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .menu button{
        display: none;
    }
  }

@media screen and (min-width: 1000px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .menu button{
        display: none;
    }
    ul{
        flex-direction: row;
    }
    .viewer{
        top: 50px;
        left: 200px;
        right: 200px;
        bottom: 10px;
        padding: 1rem;
        grid-template-columns:1fr;
    }
    .viewer button{
        grid-column: 2;
    }
    
}